*{
  box-sizing: border-box;
}

:root {
  --pink: #d90462;
  --aqua: #009ca0;
  --orange: #db9938;
  --dark: #343434;
  --gray: #858585;
  --lite-gray: #c2c2c2;
  --while: #fff;
  --fonts1: 'Bebas Neue', cursive;
  --fonts2: 'Dosis', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #a4a4a4;
}

.cv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--while);
}

/* header */
.nav_list {
  position: relative;
  z-index: 10;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  padding: 0 20px;
  line-height: 50px;
  font-family: var(--fonts1);
}

.nav_link:link,
.nav_link:visited,
.nav_link:active
{
  text-decoration: none;
  color: var(--pink);
}

.nav_link:hover {
  transition: 2s;
  color: var(--dark);
}