*{
  box-sizing: border-box;
}

:root {
  --pink: #d90462;
  --aqua: #009ca0;
  --orange: #db9938;
  --dark: #343434;
  --gray: #858585;
  --lite-gray: #c2c2c2;
  --while: #fff;
  --fonts1: 'Bebas Neue', cursive;
  --fonts2: 'Dosis', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #a4a4a4;
}

.cv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--while);
}

/* header */
.nav_list {
  position: relative;
  z-index: 10;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  padding: 0 20px;
  line-height: 50px;
  font-family: var(--fonts1);
}

.nav_link:link,
.nav_link:visited,
.nav_link:active
{
  text-decoration: none;
  color: var(--pink);
}

.nav_link:hover {
  transition: 2s;
  color: var(--dark);
}

/* main */
.main {
  padding-top: 75px;
  font-size: 17px;
  color: var(--gray);
  font-family: var(--fonts2);
}

.div_my_info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.photo {
  position: relative;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid var(--while)
}

.info_photo {
  position: relative;
  z-index: 5;
  max-width: 340px;
  max-height: 340px;
  min-width: 340px;
  min-height: 340px;
  border-radius: 50%;  
}

.div_title {
  font-family: var(--fonts1);
  line-height: 25px;
  letter-spacing: 3px;
}

.title_level_one {
  font-size: 75px;
  color: var(--dark);
}

.title_level_two {
  font-size: 45px;
  color: var(--pink);
}






